*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(4, 56, 21);
    display: flex;
    justify-content: center;
}

.box{
    height: 100vh;
    width: 60vw;
    background-color: rgb(82, 159, 82);
    display: grid;
    justify-content: center;
}
h2{
    font-size: 3rem;
    text-align: center;
    margin-top: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

button{
    /* border: none; */
    height: 60px;
    width: 150px;
    font-size: 30px;
    background-color: rgb(2, 41, 10);
    color: rgb(82, 159, 82);
    border-radius: 20px;
    /* box-shadow: 0 0 5px 5px rgb(82, 159, 82) inset; */
}
#add{
    margin-top: 40px;
}
#add:active{
    transform: scale(1.05);
}


.list{
    height: 80vh;
    width: 60vw;
    background-color: rgb(2, 41, 10);
    border-radius: 40px 40px 0 0;
    /* position: absolute; */
    /* bottom: 0; */
    overflow: auto;
    margin-top: 40px;
}
.list::-webkit-scrollbar{
    display:none;
}

.task{
    margin: 20px;
    width: 55vw;
    height: 100px;
    background-color: rgb(82, 159, 82);
    border-radius: 30px;
    /* text-align: center; */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    font-size: 30px;
    padding: 20px;
    display: grid;
    grid-template-columns: 9fr .5fr;
    
}

.del{
    height: 40px;
    /* float: right; */
}
.del:active{
    transform: scale(1.15);
}


/* Add task designe ........................................*/

.task-container{
    position: absolute;
    top: 18%;
    left: 22%;
    background-color: rgb(4, 25, 4);
    border-radius: 20px;
    display: flex;
    display: none;
}

.task-box{
    font-size: 40px;
    color: rgb(82, 159, 82);
    /* opacity: .8; */
    height: 80vh;
    width: 50vw;
    
    border-radius: 30px;
    display: grid;
    gap: 15px;
    padding: 30px;
    /* justify-content: center; */
    /* align-items: center; */
    
}

.task-box input{
    min-width: 300px;
    padding: 8px;
    border-radius: 10px;
    font-size: 2rem;
    height: 60px;
    width: 60%;
    background-color: rgb(82, 159, 82);
}
#date{
    width: 300px;
}

#message{
    min-width: 300px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(82, 159, 82);
    width: 80%;
    height: 100%;
    font-size: 1.5rem;
}
#message::-webkit-scrollbar{
    display: none;
}

h3{
    text-align: center;
    color: rgb(82, 159, 82);
    font-size: 4rem;
    
}
#close{
    /* box-shadow: 0 0 5px 5px rgb(82, 159, 82) inset; */
    /* border: none; */
    width: 50px;
    /* float: right; */
    margin: 10px;
    color: rgb(199, 4, 4);
    border: none;
    /* top: 50px; */
}
#close:active{
    color: gray;
}


#task-head{
    font-size: 25px;
    font-weight: 800;
    width: 70%;
    /* border: 1px solid brown; */
}
#task-mess{
    font-size: 20px;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid brown; */
}
